@use "mixins";
@use "variaveis";
@use "functions";

.faq {
 padding-left: 20px;
 padding-right: 20px;
 @include mixins.breakpoint (mobile ) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
 }
  h2 {
    color: variaveis.$prim-color;
    font-family: "KronaOne", "sans-serif";
    font-size: functions.textoem(32px);
    @include mixins.breakpoint (mobile) {
      font-size: 24px;
    }
  }
  &__question {
    background-color: #272727;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgba($color: #000000, $alpha: 0.5);
    @include mixins.breakpoint (mobile) {
      padding: 10px;
      width: 380px;
    }
    &__item {
      font-size: functions.textoem(22px);
      background-color: #272727;
      margin: 0 auto;
      padding: 20px;
      max-width: 1200px;
      width: 100%;
      margin-bottom: 0px;
      @include mixins.breakpoint(tablet) {
        font-size: functions.textoem(16px);
        padding-left: 0px;
        
      }
      @include mixins.breakpoint (mobile) {
        font-size: functions.textoem(14px);
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
        max-width: 360px;
      }

      &__question {
        display: block;
        cursor: pointer;
        border-bottom: 1px solid rgba(255, 0, 0, 0.205);
        position: relative;
         @include mixins.breakpoint (mobile){
          padding-right: 20px;
        }
               
        p {
          margin-bottom: 10px;
           
        }
        &::after {
          content: "+";
          position: absolute;
          top: 0;
          right: 24px;
          height: 100%;
          display: flex;
          align-items: center;
          margin-top: -10px;
          font-size: functions.textoem(40px);
          color: variaveis.$prim-color;
          @include mixins.breakpoint(tablet) {
            right: 0;
          }
          @include mixins.breakpoint(mobile) {
            right: 0px;
            font-size: 32px;
          }
        }
      }
      &__answer {
        display: block;
        color: variaveis.$white-color-2;
        height: 0px;
        overflow: hidden;
        padding: 0 24px;
      }
      &--is-open {
        .faq__question__item__question::after {
          content: "-";
          font-size: 60px;
          color: variaveis.$prim-color;
          
          
        }
        .faq__question__item__answer {
          height: auto;
          padding-top: 24px;
          padding-bottom: 24px;
          transition: height, 2s ease;
        }
      }
    }
  }
}
