@use "variaveis";
@use "functions" as f;

.redes__sociais {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
 
 
  &__item {
   cursor: pointer;
   margin-bottom: 20px;

    a {
      display: inline-flex;
      color: variaveis.$white-color;
      img {
        width: 35px;
        height: 35px;
      }
    }
    span {
      font-size: f.textoem(10px);
      padding-left: 10px;
    }
    h4 {
      padding-left: 10px;
    }
  }
}

.twitter {
  div:hover {
    color: variaveis.$over-twitter;
  }
}

.facebook {
  div:hover {
    color: variaveis.$over-face;
  }
}

.instagran {
  div:hover {
    color: variaveis.$over-instagran;
  }
}
.yotube {
  div:hover {
    color: variaveis.$over-yotube;
  }
}
.linkedin {
  div:hover {
    color: variaveis.$over-linkedin;
  }
}
