@use "variaveis";
@use "fontes";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:is(ul, li) {
  margin: 0;
  padding: 0;
}

body {
  background-color: variaveis.$bg-color;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
button {
  width: 150px;
  background-color: variaveis.$prim-color;
  color: variaveis.$white-color;
  border: 1px solid variaveis.$prim-color;
  padding: 5px 15px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
  cursor: pointer;
  margin-right: 15px;
  box-shadow: 4px 4px 4px rgba($color: #000000, $alpha: 0.5);
  a {
    text-decoration: none;
    p {
      font-family: 'KronaOne', sans-serif;
      font-weight: 400;
      color: variaveis.$white-color;
      font-size: 18px;
    }
  }
  img {
    width: 30px;
  }
}
