@use "mixins";
@use "variaveis";
@use "functions" as f;
.shows {
  &__list {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 120px;
    gap: 40px;
  }
  &__tabs {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  &__item {
    font-size: f.textoem(28px);
    font-weight: 900;
    &:hover {
      color: variaveis.$prim-color;
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }
  &__titulo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }
  img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0;
    margin-bottom: 20px;
  }
  h2 {
    text-align: center;
  }
}
.grid__video {
  display: flex;
  align-items: center;
  margin-right: 20px;
  @include mixins.breakpoint(tablet) {
    iframe {
      width: 480px;
      height: 260px;
    }
  }
  @include mixins.breakpoint (mobile) {
    margin-right: 0px;
    iframe {
      width: 380px;
      height: 240px;
      margin-top: 20px;
    }
  }
}

.shows {
  display: none;
}
.is-active {
  display: block;
}
