@import "./mixins";

.sinopse {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }
  &__descricao {
    max-width: 540px;
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
   
   
    
  }
  &__descricao:nth-child(2) {
    font-size: 18px;
    font-weight: 700;
  }
  &__descricao:first-child {
    padding-bottom: 40px;
    font-weight: 700;
    font-size: 18px;
  }
  &__descricao:last-child {
    margin-top: 40px;
    line-height: 1.4;
  }
  &__image {
    display: block;
    max-width: 420px;
    width: 100%;
    margin-right: 20px;
    @media (max-width: 480px){
      margin-right: 0;
      width: 380px;
    }
  }
}

.sinopse__item1 {
  flex-grow: 1;
  padding-bottom: 40px;
}

.sinopse {
  display: none;
}
.is-active {
  display: block;
}
